# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 가상환경
venv/
myvenv/
env/
ENV/

# 환경변수 파일
.env
.env.*

# SQLite (로컬 테스트용 DB)
*.sqlite3
db.sqlite3

# VS Code
.vscode/

# macOS / Windows 기본
.DS_Store
Thumbs.db

# Migrations (원하는 경우)
**/migrations/
!*/migrations/__init__.py

# Log / Temp
*.log
*.pot
*.pyc
*.swp
