# Django & REST
Django==5.2.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.7.0
gunicorn
sqlparse==0.5.3
tzdata==2025.2
asgiref==3.9.1
dj-database-url
django-redis
python-dotenv
python-json-logger
psycopg2-binary

# DB / Auth / Utils
psycopg2-binary==2.9.10
PyJWT==2.10.1
python-dotenv==1.1.1
requests==2.32.4
urllib3==2.5.0
idna==3.10
certifi==2025.7.14
charset-normalizer==3.4.2
pillow==11.3.0

# Geo / ORM
geopy>=2.0
SQLAlchemy>=2.0

# Data & ML (버전 고정)
numpy==1.26.4
pandas>=2.0
scipy==1.11.4
scikit-learn==1.3.2

JPype1==1.5.0
konlpy==0.6.0

celery==5.5.3
django-redis==6.0.0
redis==6.4.0

#S3
django-storages
boto3



# cython>=0.29
# scikit-surprise>=1.1.4

